<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Search event by keyword</h2>
    <form action="/">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Default form control" name="text2">
        </div>
        <button type="submit" class="btn btn-primary" style="float: right;">Find</button>
    </form>
</div>
<div class="container" id="app">
    <h2>Events</h2>
    <p>All event what we find</p>
    <div class="card-group">
    <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="http://remontnick.ru/upload/iblock/edb/edbce438da60ab9277fda58f08dbe7ed.jpeg" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
            <h4 class="card-title">Event 1</h4>
            <p class="card-text">{{ info }}</p>
            <p class="card-text">{{ info }}</p>
            <a href="#" class="btn btn-primary" style="float:right">See Event</a>
        </div>
    </div>

    <div class="card img-fluid" style="width:500px;float:right">
        <img class="card-img-top" src="http://remontnick.ru/upload/iblock/edb/edbce438da60ab9277fda58f08dbe7ed.jpeg" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
            <h4 class="card-title">Event 2</h4>
            <p class="card-text">{{ info }}</p>
            <p class="card-text">{{ info }}</p>
            <a href="#" class="btn btn-primary" style="float:right">See Event</a>
        </div>
    </div>
    </div></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                info: null
            };
        },
        mounted() {
            axios
                .get('http://localhost:8083/getEvent')
                .then(response => (this.info = response.data[1]));
        }
    });
</script>
</body>
</html>